body {
    font-family: sans-serif;
    background: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    width: 350px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 10px #0002;
    text-align: right;
}

.title {
    margin-bottom: 20px;
}

label {
    font-size: 14px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background: #4b8df8;
    border: 0;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.login-btn:hover {
    background: #3073e2;
}

.note {
    margin-top: 10px;
    text-align: center;
}

.note a {
    color: #005ad5;
    text-decoration: none;
}
